.container {
  position: sticky;
  flex: 1;
  top: 20px;
}

.userInfo {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1rem;
  border-bottom: 1px solid #e0e0e0;
}

.username {
  display: flex;
  flex-direction: column;
  margin: 0 1rem;
}

.userTitle,
.userSubTitle {
  margin: 0;
  display: block;
  padding: 0 1rem;
}

.menuList {
  margin: 0;
  padding: 2rem 0.5rem;
  list-style: none;
}

.menuItem {
  padding: 0.5rem 0;
  color: var(--textSec);
  font-weight: bold;
  font-size: 20px;
  margin: 10px 0px;
}
